/* ------ Lazy load ------ */

.c-lazy.-lazy-loaded img {
  opacity: 1;
}

.c-lazy img {
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.5s ease, filter 0.5s ease;
}

/* ------ >Lazy load ------ */
